AutoRepN8n.json
{
  "name": "repai",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a surgical coordination assistant. First, use the \"FetchPendingRows\" tool to retrieve all rows from Google Sheets where the status is \"pending\". Then, use \"SendSlackApprovalRequest\" to ask the surgical team to approve or deny each row. After they reply, use \"UpdateSheetStatus\" to write the updated status back to the Google Sheet. Respond by calling the tools only, not with text answers.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "b5588799-8d84-4973-967a-423b011823a0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -64,
        208
      ],
      "id": "211ce7e9-c5dc-406a-9447-131869381819",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "TAhEKXdJUzT8QYE1",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        256
      ],
      "id": "40a6d3f1-6f72-404e-b861-44ad9bd28ed4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c25db8a-6136-40cd-921d-38b4bd97c377",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        32
      ],
      "id": "41aa4642-e4d9-4d22-9ce4-dd916abb9d44",
      "name": "output"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Z3QiiywQCJWGWWqY9FHX7HtwY4Ve-4yQHVZmX7wumYE",
          "mode": "list",
          "cachedResultName": "loppmedic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z3QiiywQCJWGWWqY9FHX7HtwY4Ve-4yQHVZmX7wumYE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z3QiiywQCJWGWWqY9FHX7HtwY4Ve-4yQHVZmX7wumYE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status ",
              "lookupValue": "pending"
            },
            {
              "lookupColumn": "Status ",
              "lookupValue": "pending"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        288,
        224
      ],
      "id": "c42f31e1-8d44-419e-b6a0-56a9de6e8ae2",
      "name": "FetchPendingRows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C0fc4IDwqVPRywCx",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "value": "U099B2XCZB2",
          "mode": "list",
          "cachedResultName": "rachuruaswath"
        },
        "message": "=🦴 Surgery Task: {{ $json[\"Task\"] }}\nTray ID: {{ $json[\"TrayID\"] }}\nPatient: {{ $json[\"Patient\"] }}\nDo you Approve or Deny?",
        "options": {}
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.3,
      "position": [
        656,
        256
      ],
      "id": "85fc0c53-c885-435a-9d3e-f8628e4bf866",
      "name": "SendSlackApprovalRequest",
      "webhookId": "88095e5e-b35a-41c5-91be-e881da91c61e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "oIoi4xAeDv3V5ofM",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Z3QiiywQCJWGWWqY9FHX7HtwY4Ve-4yQHVZmX7wumYE",
          "mode": "list",
          "cachedResultName": "loppmedic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z3QiiywQCJWGWWqY9FHX7HtwY4Ve-4yQHVZmX7wumYE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z3QiiywQCJWGWWqY9FHX7HtwY4Ve-4yQHVZmX7wumYE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type ": "1",
            "Status ": "Approved"
          },
          "matchingColumns": [
            "statuscode"
          ],
          "schema": [
            {
              "id": "patientID ",
              "displayName": "patientID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date ",
              "displayName": "date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time ",
              "displayName": "Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status ",
              "displayName": "Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "statuscode",
              "displayName": "statuscode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        464,
        256
      ],
      "id": "aa0bc8cd-2255-476b-b36c-9ce0fdea9e3e",
      "name": "UpdateSheetStatus",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C0fc4IDwqVPRywCx",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "55b1b964-62ae-4e7b-a237-95aba41618c8",
      "name": "When chat message received",
      "webhookId": "afe173bf-9274-486b-a26d-75fc78b600ec"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "FetchPendingRows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SendSlackApprovalRequest": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSheetStatus": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83354182-3e6e-49b2-a8e2-34a0ade463d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a73d65f971a9047ed79bf69bd3d236dcc25be134a37463c9a7c81e9fb332a09"
  },
  "id": "wAHO1FATRYBYfC1H",
  "tags": []
}